.login {
    display: grid;
    justify-content: center;
    margin-top: 40px;
    font-size: 17px;
}

.login h3 {
    grid-column: 1 / -1;
    text-align: center;
    text-transform: uppercase;
    font-size: 28px;
    letter-spacing: 2px;
}

.login hr {
    grid-column: 1 / -1;
}

form {
    align-content: flex-start;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    gap: 30px;
    padding: 30px;
}

.login .alert {
    justify-self: center;
    width: 300px;
    
}


