.my-estates {
    margin-left: 40px;
    margin-right: 40px;
}

.my-estates h2 {
    text-transform: uppercase;
    font-size: 28px;
    margin-top: 40px;
    letter-spacing: 2px;
    text-align: center;
}

.my-estates .card {
    display: grid;
    grid-template-columns: auto auto;
    height: 600px;
}

.my-estates .card img {
    scale: 0.9;
    margin: 10p;
}

.carousel {
    width: 500px;
    height: 400px;    
}

.carousel-root {
    width: 500px;
    height: 500px;    
}

.thumbs-wrapper axis-vertical {
    width: 300px;
    height: 100px;
}

.my-estates .reported {
    margin-top: 40px;
}

.my-estates .info {
    scale: 1.15;
    margin-top: 50px;
    align-content: start;
    padding-left: 30px;
    padding-right: 30px;
    display: grid;
    justify-items: start;
    grid-template-columns: repeat(3, auto);
}

.my-estates .info div h2 {
    display: inline;
    font-weight: 550;
    text-transform: uppercase;
    letter-spacing: 2px;
    grid-column: 1 / -1;
    text-align: left;
}

.my-estates .description {
    margin-top: 30px;
    font-size: 17px;
    grid-column: 1 / -1;
}

.my-estates .price {
    grid-column: 1 / -1;
    font-size: 30px;
    font-weight: 500;
}

.my-estates p span {
    font-weight: 600;
}

.my-estates p {
    display: inline;
}

.my-estates .info img {
    margin-right: 10px;
}

.my-estates .info div {
    grid-column: 1 / -1;
    margin-bottom: 20px;
}

.my-estates .info div p {
    font-size: 12px;
    text-transform: uppercase;
    margin-right: 10px;
    font-weight: 550;
    color: rgb(111, 111, 111);
}

.my-estates .info .header {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
}

