.registration {
    margin-top: 30px;
    display: grid;
    justify-content: center;
    font-size: 17px;
}

.registration h2 {
    text-transform: uppercase;
    font-size: 28px;
    letter-spacing: 2px;
}

.registration .checkboxes {
    font-size: 17px;
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
}

.registration .alert {
    grid-column: 1 / -1;
    justify-self: center;
}

.registration .buttons {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    gap: 20px;
}